body { font: 12px Helvetica; margin:0; padding:0;}
#map { position:absolute; top:0; bottom:0; width:100%;}

#infotip {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  font-size: 8px;
  text-anchor: end;
  color:grey;
  line-height: 140%;
  padding: 10px;
  display: none;
}
h3 {
  display: inline-block;
  padding:0;
  margin:5px;
}
.info {
  white-space: nowrap;
  display: block;
}
.axis text {
    color: grey;
    font-size: 8px;
}
.axis path {
    visibility: hidden;
}